In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/home/codetrade/Downloads/Bangaluru_update_dataset.csv')

In [2]:
df.head()

,House Type,availability,location,bhk,society,total_sqft,bath,balcony,price
0,Flat,no,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,₹39.07
1,House,yes,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,₹120.0
2,House,yes,Uttarahalli,3.0,Not Provided,1440,2.0,3.0,₹62.0
3,Flat,yes,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,₹95.0
4,Flat,yes,Kothanur,2.0,Not Provided,1200,2.0,1.0,₹51.0

In [3]:
df['price'] = df['price'].str.replace('₹', '')

df['price'] = df['price'].astype(float)

In [4]:
features = df['price']

In [5]:
def categorize_prices(prices, user_input):
    # Step 1: Sort the data in ascending order
    sorted_prices = np.sort(prices)

    # Step 2: Calculate the quartiles (percentiles)
    q1 = np.percentile(sorted_prices, 55)
    q2 = np.percentile(sorted_prices, 80)
    q3 = np.percentile(sorted_prices, 98)
    

    # Step 3: Define the categories
    categories = {
        'Category 1 (min-Q1)': f"{sorted_prices[0]}-{q1}",
        'Category 2 (Q1-Q2)': f"{q1 + 1}-{q2}",
        'Category 3 (Q2-Q3)': f"{q2 + 1}-{q3}",
        'Category 4 (Q3-max)': f"{q3 + 1}-{sorted_prices[-1]}"
    }

    # Step 4: Find the category to which the user input belongs
    input_category = None
    user_price = float(user_input)
    
    if user_price <= q1:
        input_category = 'Category 1 (min-Q1)'
    elif q1 < user_price <= q2:
        input_category = 'Category 2 (Q1-Q2)'
    elif q2 < user_price <= q3:
        input_category = 'Category 3 (Q2-Q3)'
    else:
        input_category = 'Category 4 (Q3-max)'

    return categories, input_category

user_input_price = input("Enter the price: ")
result, user_category = categorize_prices(features, user_input_price)

print("Categories:")
for category, price_range in result.items():
    print(f"{category}: {price_range}")

print(f"User input belongs to: {user_category}")

Enter the price: 555
Categories:
Category 1 (min-Q1): 8.0-75.0
Category 2 (Q1-Q2): 76.0-132.0
Category 3 (Q2-Q3): 133.0-450.0
Category 4 (Q3-max): 451.0-2912.0
User input belongs to: Category 4 (Q3-max)

In [6]:
def categorize_prices(prices, user_input):
    # Step 1: Sort the data in ascending order
    sorted_prices = sorted(prices)

    # Step 2: Calculate the range for each category
    price_range = (sorted_prices[-1] - sorted_prices[0]) / 4

    # Step 3: Define the categories
    categories = {
        'Category 1 (min-range)': f"{sorted_prices[0]}-{sorted_prices[0] + price_range}",
        'Category 2 (range)': f"{sorted_prices[0] + price_range + 1}-{sorted_prices[0] + 2 * price_range}",
        'Category 3 (2*range)': f"{sorted_prices[0] + 2 * price_range + 1}-{sorted_prices[0] + 3 * price_range}",
        'Category 4 (3*range-max)': f"{sorted_prices[0] + 3 * price_range + 1}-{sorted_prices[-1]}"
    }
    input_category = None
    user_price = float(user_input)

    if user_price <= sorted_prices[0] + price_range:
        input_category = 'Category 1 (min-range)'
    elif sorted_prices[0] + price_range < user_price <= sorted_prices[0] + 2 * price_range:
        input_category = 'Category 2 (range)'
    elif sorted_prices[0] + 2 * price_range < user_price <= sorted_prices[0] + 3 * price_range:
        input_category = 'Category 3 (2*range)'
    else:
        input_category = 'Category 4 (3*range-max)'

    return categories, input_category

user_input_price = input("Enter the price: ")
result, user_category = categorize_prices(features, user_input_price)

print("Categories:")
for category, price_range in result.items():
    print(f"{category}: {price_range}")

print(f"User input belongs to: {user_category}")

Enter the price: 55
Categories:
Category 1 (min-range): 8.0-734.0
Category 2 (range): 735.0-1460.0
Category 3 (2*range): 1461.0-2186.0
Category 4 (3*range-max): 2187.0-2912.0
User input belongs to: Category 1 (min-range)