In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [2]:
card = pd.read_csv('/home/codetrade/Downloads/fraudTest.csv')

In [3]:
card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [4]:
card.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [5]:
card.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [6]:
card.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [7]:
card['is_fraud'].value_counts()

0    553574
1      2145
Name: is_fraud, dtype: int64

In [8]:
normal=card[card.is_fraud==0]
fraud=card[card.is_fraud==1]

In [9]:
print(normal.shape)
print(fraud.shape)

(553574, 23)
(2145, 23)

In [11]:
normal.amt.describe()

count    553574.000000
mean         67.614408
std         152.471931
min           1.000000
25%           9.600000
50%          47.150000
75%          82.620000
max       22768.110000
Name: amt, dtype: float64

In [12]:
fraud.amt.describe()

count    2145.000000
mean      528.356494
std       392.747594
min         1.780000
25%       214.510000
50%       371.940000
75%       907.770000
max      1320.920000
Name: amt, dtype: float64

In [13]:
card.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,277997.725990,4.179643e+17,67.614408,48846.424285,38.541406,-90.230495,88313.692365,1.380683e+09,38.540954,-90.230474
1,242057.088112,3.854274e+17,528.356494,47862.900233,39.019971,-90.445556,64529.321678,1.379587e+09,39.018618,-90.465222

In [14]:
card.groupby('is_fraud').std()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,160496.162903,1.309964e+18,152.471931,26855.813540,5.061194,13.720111,300659.345969,5.203038e+06,5.095755,13.731399
1,135455.280233,1.276313e+18,392.747594,26706.283776,5.076671,14.147521,219207.458844,4.546697e+06,5.093782,14.159252

In [15]:
card.groupby('is_fraud').max()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,,,,,,,,,,,,
0,555718,2020-12-31 23:59:34,4992346398065154184,fraud_Zulauf LLC,travel,22768.11,Zachary,Zuniga,M,99736 Rose Shoals Apt. 504,...,99783,65.6899,-67.9503,2906700,Writer,2005-01-29,ffffc1df97a828ae4c69359c9f05daab,1388534374,66.679297,-66.952026
1,517571,2020-12-22 23:13:39,4989847570577635369,fraud_Zulauf LLC,travel,1320.92,William,Zimmerman,M,98897 Bennett Lodge,...,99921,55.4732,-67.9503,1577385,Wellsite geologist,2002-03-17,ffba650403221a82f12568f1868e49cf,1387754019,56.214113,-66.960745

In [16]:
normal_sample=normal.sample(n=2145)

In [17]:
new_data=pd.concat([normal_sample,fraud],axis=0)

In [19]:
new_data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
58604,58604,2020-07-11 22:25:28,630451534402,fraud_Mante Group,misc_net,2.01,Rachel,Daniels,F,561 Little Plain Apt. 738,...,46.3535,-86.6345,765,Immunologist,1972-06-12,a1e043ea2477b83df3f2a37196e83d7d,1373581528,46.687211,-86.034830,0
157025,157025,2020-08-15 16:15:53,4561368699336875,"fraud_Dare, Casper and Bartoletti",kids_pets,38.37,Pamela,Lewis,F,653 Jessica Extension Apt. 668,...,34.9906,-81.8327,167,Museum/gallery conservator,1988-11-01,6d615648acabf3e88c8f45c9df3a3469,1376583353,35.086977,-81.080174,0
155584,155584,2020-08-14 23:03:57,4503101193493052864,fraud_Kilback and Sons,entertainment,130.29,Katherine,Tucker,F,670 Le Meadows Suite 250,...,27.9865,-82.0139,237282,Clothing/textile technologist,1979-07-03,97433a06ca896e4517ff0de072aa5658,1376521437,27.453603,-81.126043,0
374883,374883,2020-11-14 16:55:47,4173950183554608,fraud_Little Ltd,kids_pets,129.10,Stephen,Marshall,M,47144 Roberts Keys,...,40.3330,-73.9809,3279,Health promotion specialist,1978-10-05,86fe8bba20a8ef106b9d4f2e518c2e83,1384448147,39.545146,-73.962787,0
66440,66440,2020-07-14 02:01:35,639095706599,fraud_Kris-Padberg,shopping_pos,1.87,Kyle,Wilkinson,M,93970 Trujillo Causeway,...,42.9633,-94.7975,223,Estate manager/land agent,1939-04-14,4c4804bfd407d1a2983d0f5f748b9183,1373767295,42.055386,-94.823471,0

In [20]:
new_data.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
517197,517197,2020-12-22 22:05:48,2242176657877538,"fraud_Willms, Kris and Bergnaum",shopping_pos,1041.51,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,35b0297dd026d2e9a75d024a5dec7955,1387749948,34.573471,-89.911011,1
517274,517274,2020-12-22 22:18:07,2242176657877538,fraud_Kuhn LLC,shopping_pos,868.09,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,da7f67d7375f10a054a3d919448c45dd,1387750687,34.091227,-90.390612,1
517341,517341,2020-12-22 22:31:48,2242176657877538,"fraud_Mosciski, Ziemann and Farrell",shopping_net,1039.42,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,25b076c7bcd70f272c1c5326bb234f4b,1387751508,34.628434,-90.284780,1
517529,517529,2020-12-22 23:06:03,2242176657877538,fraud_Bauch-Raynor,grocery_pos,289.27,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,2df7d894868fbc99ec1d8b055585fc9d,1387753563,34.746063,-90.401093,1
517571,517571,2020-12-22 23:13:39,2242176657877538,fraud_Jaskolski-Vandervort,misc_net,766.38,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,1959-03-03,44292cbc51e37dc018ee6a988a4bc426,1387754019,33.771462,-90.651342,1

In [21]:
new_data['is_fraud'].value_counts()

0    2145
1    2145
Name: is_fraud, dtype: int64

In [22]:
new_data.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,275806.215851,4.029020e+17,67.284704,49260.397669,38.393040,-90.370534,94495.897436,1.380619e+09,38.379138,-90.366393
1,242057.088112,3.854274e+17,528.356494,47862.900233,39.019971,-90.445556,64529.321678,1.379587e+09,39.018618,-90.465222

In [23]:
X=new_data.drop(columns='is_fraud', axis=1)
Y=new_data['is_fraud']

In [24]:
print(X)

        Unnamed: 0 trans_date_trans_time               cc_num  \
58604        58604   2020-07-11 22:25:28         630451534402
157025      157025   2020-08-15 16:15:53     4561368699336875
155584      155584   2020-08-14 23:03:57  4503101193493052864
374883      374883   2020-11-14 16:55:47     4173950183554608
66440        66440   2020-07-14 02:01:35         639095706599
...            ...                   ...                  ...
517197      517197   2020-12-22 22:05:48     2242176657877538
517274      517274   2020-12-22 22:18:07     2242176657877538
517341      517341   2020-12-22 22:31:48     2242176657877538
517529      517529   2020-12-22 23:06:03     2242176657877538
517571      517571   2020-12-22 23:13:39     2242176657877538

                                   merchant       category      amt  \
58604                     fraud_Mante Group       misc_net     2.01
157025    fraud_Dare, Casper and Bartoletti      kids_pets    38.37
155584               fraud_Kilback and Sons  entertainment   130.29
374883                     fraud_Little Ltd      kids_pets   129.10
66440                    fraud_Kris-Padberg   shopping_pos     1.87
...                                     ...            ...      ...
517197      fraud_Willms, Kris and Bergnaum   shopping_pos  1041.51
517274                       fraud_Kuhn LLC   shopping_pos   868.09
517341  fraud_Mosciski, Ziemann and Farrell   shopping_net  1039.42
517529                   fraud_Bauch-Raynor    grocery_pos   289.27
517571           fraud_Jaskolski-Vandervort       misc_net   766.38

            first       last gender                          street  ...  \
58604      Rachel    Daniels      F       561 Little Plain Apt. 738  ...
157025     Pamela      Lewis      F  653 Jessica Extension Apt. 668  ...
155584  Katherine     Tucker      F        670 Le Meadows Suite 250  ...
374883    Stephen   Marshall      M              47144 Roberts Keys  ...
66440        Kyle  Wilkinson      M         93970 Trujillo Causeway  ...
...           ...        ...    ...                             ...  ...
517197     Travis     Daniel      M     1327 Rose Causeway Apt. 610  ...
517274     Travis     Daniel      M     1327 Rose Causeway Apt. 610  ...
517341     Travis     Daniel      M     1327 Rose Causeway Apt. 610  ...
517529     Travis     Daniel      M     1327 Rose Causeway Apt. 610  ...
517571     Travis     Daniel      M     1327 Rose Causeway Apt. 610  ...

          zip      lat     long  city_pop                            job  \
58604   49895  46.3535 -86.6345       765                   Immunologist
157025  29324  34.9906 -81.8327       167     Museum/gallery conservator
155584  33811  27.9865 -82.0139    237282  Clothing/textile technologist
374883   7750  40.3330 -73.9809      3279    Health promotion specialist
66440   50527  42.9633 -94.7975       223      Estate manager/land agent
...       ...      ...      ...       ...                            ...
517197  38668  34.6323 -89.8855     14462         Database administrator
517274  38668  34.6323 -89.8855     14462         Database administrator
517341  38668  34.6323 -89.8855     14462         Database administrator
517529  38668  34.6323 -89.8855     14462         Database administrator
517571  38668  34.6323 -89.8855     14462         Database administrator

               dob                         trans_num   unix_time  merch_lat  \
58604   1972-06-12  a1e043ea2477b83df3f2a37196e83d7d  1373581528  46.687211
157025  1988-11-01  6d615648acabf3e88c8f45c9df3a3469  1376583353  35.086977
155584  1979-07-03  97433a06ca896e4517ff0de072aa5658  1376521437  27.453603
374883  1978-10-05  86fe8bba20a8ef106b9d4f2e518c2e83  1384448147  39.545146
66440   1939-04-14  4c4804bfd407d1a2983d0f5f748b9183  1373767295  42.055386
...            ...                               ...         ...        ...
517197  1959-03-03  35b0297dd026d2e9a75d024a5dec7955  1387749948  34.573471
517274  1959-03-03  da7f67d7375f10a054a3d919448c45dd  1387750687  34.091227
517341  1959-03-03  25b076c7bcd70f272c1c5326bb234f4b  1387751508  34.628434
517529  1959-03-03  2df7d894868fbc99ec1d8b055585fc9d  1387753563  34.746063
517571  1959-03-03  44292cbc51e37dc018ee6a988a4bc426  1387754019  33.771462

        merch_long
58604   -86.034830
157025  -81.080174
155584  -81.126043
374883  -73.962787
66440   -94.823471
...            ...
517197  -89.911011
517274  -90.390612
517341  -90.284780
517529  -90.401093
517571  -90.651342

[4290 rows x 22 columns]

In [25]:
print(Y)

58604     0
157025    0
155584    0
374883    0
66440     0
         ..
517197    1
517274    1
517341    1
517529    1
517571    1
Name: is_fraud, Length: 4290, dtype: int64

In [26]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,stratify=Y,random_state=2)

In [27]:
print(X.shape, X_train.shape,X_test.shape )

(4290, 22) (3003, 22) (1287, 22)

In [28]:
model2=LinearRegression()

In [29]:
model2.fit(X_train,Y_train)

ValueError: could not convert string to float: '2020-12-11 01:51:39'