In [1]:
import pandas as pd
data=pd.read_csv('/home/codetrade/Downloads/CSV/row.csv')

In [2]:
data.head()

                                                text
0  OpenAI is an American artificial intelligence ...
1  Microsoft Corporation is an American multinati...
2  Amazon Web Services, Inc. (AWS) is a subsidiar...
3  Google Cloud Platform (GCP), offered by Google...
4  Sequoia Capital is an American venture capital...

In [3]:
data['text'][0]

'OpenAI is an American artificial intelligence (AI) research laboratory consisting of the non-profit OpenAI Incorporated and its for-profit subsidiary corporation OpenAI Limited Partnership. OpenAI conducts AI research with the declared intention of promoting and developing a friendly AI. OpenAI systems run on an Azure-based supercomputing platform from Microsoft. The organization was founded in San Francisco in 2015 by Sam Altman, Reid Hoffman, Jessica Livingston, Elon Musk, Ilya Sutskever, Wojciech Zaremba, Peter Thiel and others, who collectively pledged US$1 billion. Microsoft provided OpenAI LP with a $1 billion investment in 2019 and a second multi-year investment in January 2023, reported to be $10 billion, for exclusive access to GPT-4 which would power its own Prometheus model for Bing.\n\nHistory\n2015â€“2018: Non-profit beginnings\nIn December 2015, Sam Altman, Greg Brockman, Reid Hoffman, Jessica Livingston, Peter Thiel, Elon Musk, Amazon Web Services (AWS), Infosys, and YC Resear'

In [7]:
import spacy
import pandas as pd

# Load the 'en_core_web_lg' model
nlp = spacy.load('en_core_web_lg')

# Assuming you have a DataFrame named 'data' with a 'text' column
# Access the 'text' column of the DataFrame
text_column = data['text']

In [8]:
# Initialize empty lists to store the extracted entities
locations = []
websites = []
languages = []
products = []

for text in text_column:
    doc = nlp(text)  # using spaCy
    
    # Extract entities from the document
    extracted_locations = [entity.text for entity in doc.ents if entity.label_ == 'GPE']
    extracted_websites = [entity.text for entity in doc.ents if entity.label_ == 'URL']
    extracted_languages = [entity.text for entity in doc.ents if entity.label_ == 'LANGUAGE']
    extracted_products = [entity.text for entity in doc.ents if entity.label_ == 'PRODUCT']
    
    # Extend the respective lists with the extracted entities
    locations.append(extracted_locations or None)
    websites.append(extracted_websites or None)
    languages.append(extracted_languages or None)
    products.append(extracted_products or None)

In [9]:
# Determine the maximum length among the lists
max_length = max(len(locations), len(websites), len(languages), len(products))

# Pad the lists with None values to make them equal in length
locations += [None] * (max_length - len(locations))
websites += [None] * (max_length - len(websites))
languages += [None] * (max_length - len(languages))
products += [None] * (max_length - len(products))

In [11]:
# Create a DataFrame from the extracted entities
entities_data = {
    'text': text_column,
    'GPE': locations,
    'URL': websites,
    'LANGUAGE': languages,
    'PRODUCT': products
}
entities_df = pd.DataFrame(entities_data)

# Save the DataFrame to a CSV file
entities_df.to_csv('extracted11_entities.csv', index=False)

In [13]:
entities_df.shape

(6489, 5)

In [14]:
entities_df.head()

,text,GPE,URL,LANGUAGE,PRODUCT
0,OpenAI is an American artificial intelligence ...,[San Francisco],None,None,"[AI, AI]"
1,Microsoft Corporation is an American multinati...,"[Redmond, Washington, United States]",None,None,"[Windows, the Altair 8800]"
2,"Amazon Web Services, Inc. (AWS) is a subsidiar...",[AWS],None,None,None
3,"Google Cloud Platform (GCP), offered by Google...",None,None,None,"[Google Cloud Platform, Google Cloud Platform,..."
4,Sequoia Capital is an American venture capital...,"[Menlo Park, California, U.S., India, China, M...",None,None,None