In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('/home/codetrade/Downloads/CSV/AMAZON_FASHION_5.csv',usecols=['overall','reviewText'])
data.head()

   overall                reviewText
0        5  Great product and price!
1        5  Great product and price!
2        5  Great product and price!
3        5  Great product and price!
4        5  Great product and price!

In [5]:
data['overall'].value_counts()

5    2158
4     471
3     337
1     117
2      93
Name: overall, dtype: int64

In [6]:
import preprocess_kgptalkie as ps

2023-06-06 15:46:58.531308: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set

In [7]:
import re

In [8]:
def get_clean(x):
    x = str(x).lower().replace('\\', '').replace('_', ' ')
    x = ps.cont_exp(x)
    x = ps.remove_emails(x)
    x = ps.remove_urls(x)
    x = ps.remove_html_tags(x)
    x = ps.remove_rt(x)
    x = ps.remove_accented_chars(x)
    x = ps.remove_special_chars(x)
    x = re.sub("(.)\\1{2,}", "\\1", x)
    return x

In [9]:
data['reviewText']=data['reviewText'].apply(lambda x: get_clean(x))

/home/codetrade/anaconda3/lib/python3.9/site-packages/bs4/__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

In [10]:
data.head()

   overall               reviewText
0        5  great product and price
1        5  great product and price
2        5  great product and price
3        5  great product and price
4        5  great product and price

In [11]:
data.tail()

      overall                                         reviewText
3171        5                                        perfect fit
3172        5                         my favorite cross trainers
3173        5                              love them fit perfect
3174        5  favorite nike shoe ever the flex sole is excel...
3175        5    i wear these everyday to work the gym and so on

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [13]:
tfid=TfidfVectorizer(max_features=20000,ngram_range=(1,3),analyzer='char')

In [14]:
X =tfid.fit_transform(data['reviewText'])
y = data['overall']

In [15]:
X.shape,y.shape

((3176, 3332), (3176,))

In [16]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=0)

In [17]:
clf=LinearSVC()
clf.fit(X_train,y_train)

LinearSVC()

In [18]:
y_pred=clf.predict(X_test)

In [19]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        27
           2       1.00      1.00      1.00        18
           3       0.97      0.95      0.96        60
           4       0.97      0.95      0.96        77
           5       0.98      0.99      0.99       454

    accuracy                           0.98       636
   macro avg       0.98      0.98      0.98       636
weighted avg       0.98      0.98      0.98       636

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

random_seed = 42

model = DecisionTreeClassifier(random_state=random_seed)
model.fit(X_train, y_train)

y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

train_accuracy = accuracy_score(y_train, y_pred_train)
test_accuracy = accuracy_score(y_test, y_pred_test)

prediction_results = {
    "Prediction success": y_test == y_pred_test,
    "Train accuracy": train_accuracy,
    "Test accuracy": test_accuracy
}

success_rate = prediction_results["Prediction success"].sum() / prediction_results["Prediction success"].count()
print("Success rate:", success_rate)

Success rate: 0.9858490566037735