In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('/home/codetrade/Downloads/Social_Network_Ads.csv')

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
X=data.iloc[:,2:4].values

In [6]:
X.shape

(400, 2)

In [7]:
y=data.iloc[:,-1].values

In [8]:
y.shape

(400,)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
X_train.shape

(320, 2)

In [11]:
X_test.shape

(80, 2)

#